<script type="application/javascript">
    $(document).ready(function() {
        $('.well').css({
            'height': $('.well').height()
            });
        });
</script>
<span>Show:&nbsp;
    <%= "<strong>" if @show == :all %>
        <a href="/?show=all">All</a>&nbsp;
    <%= "</strong>" if @show == :all %>
    
    <%= "<strong>" if @show == :healthy %>
        <a href="/?show=healthy">Healthy</a>&nbsp;
    <%= "</strong>" if @show == :healthy %>
    
    <%= "<strong>" if @show == :errored %>
        <a href="/?show=errored">Faulted</a>
    <%= "</strong>" if @show == :errored %>
</span>
<% if @allhosts then %>
    <div class="row">
    <% @allhosts.each_with_index do |host, index| %>
            <div class="span5 well" style="height: 100%; 
            <% host.pools.each do |p| %>
                <% case p.health; when :degraded %>
                    background-color: #FFBD47"
                <% when :faulted %>
                    background-color: #FF8F50"
                <% when :unavail %>
                    background-color: #6F6F6F; color: #FFFFFF"
                <% else %>
                    <%= '"' %>
                <% end %>
            <% end %>>
                <% if host.lastupdate.to_time < (Time.now - (2 * 60 * 60)) then %>
                        <div class="alert-info">
                            <strong>Warning:</strong> This host has not checked in recently.
                        </div>
                <% end %>
                <h2><a href="/<%= host.hostname %>"><%= host.hostname %></a></h2>
                <p><%= host.hostdescription %></p>
                <ul>
                    <li><a href="/<%= host.hostname %>/pools">Pools</a>: <%= host.pools.count %></li>
                    <li><a href="/<%= host.hostname %>/datasets">Datasets</a>: <%= host.datasets.count %></li>
                </ul>
                <p><strong>Last update:</strong> <%= host.lastupdate.strftime format='%A, %B %d, %Y at&nbsp;%l:%M %P ' %></p>
                <% if @show == :errored %>
                    <h4>Errors:</h4>
                    <ul>
                        <% host.unhealthy_pools.each do |pool| %>
                            <li><strong><a href="/<%= host.hostname %>/pools/<%= pool.name %>"><%= pool.name %></a>:</strong>&nbsp;<%= pool.health %></li>
                        <% end %>
                    </ul>
                <% end %>
            </div>
        <% if ((index+1) % 2 == 0) && (index > 0) %>
            </div><div class="row">
        <% end %>
    <% end %>
    </div>
    
<% else %>

    <div class="row">
        <div class="span8">
            <p>No active hosts were found.</p>
        </div>
    </div>
    
<% end %>
