<script type="application/javascript">
    $(document).ready(function() {
        $('.well').css({
            'height': $('.well').height()
            });
        // reload the page every 2 minutes
        setTimeout(function() {
            location.reload(true)
            }, (2 * 60 * 1000));
        });
</script>
<span>Show:&nbsp;
    <%= "<strong>" if @show == :all %>
        <a href="/?show=all">All</a>&nbsp;
    <%= "</strong>" if @show == :all %>
    
    <%= "<strong>" if @show == :healthy %>
        <a href="/?show=healthy">Healthy</a>&nbsp;
    <%= "</strong>" if @show == :healthy %>
    
    <%= "<strong>" if @show == :errored %>
        <a href="/?show=errored">Faulted</a>
    <%= "</strong>" if @show == :errored %>
</span>
<% if @allhosts.size == 0 %>
    <div class="row">
        <div class="span8">
            <p>No active hosts were found.</p>
        </div>
    </div>
<% elsif @allhosts.size <= 4 %>
    <% # references @show and @allhosts %>
    <%= erb :allhosts_grid, :layout => false %>
<% else %>
    <%= erb :allhosts_table, :layout => false %>
<% end %>
