<div class="row">
    <div class="span6">
        <h3><%= ZUtil.build_breadcrumb_string [@host.hostname, 'datasets', @ds.name] %></h3>
    </div>
</div>
<div class="row">
    <div class="span6">
        <p><%= @host.hostdescription %></p>
        <p><strong>Last update:</strong> <%= @host.lastupdate.strftime format='%A, %B %d, %Y at %l:%M %P ' %></p>
    </div>
</div>

<hr />
<style type="text/css">
td {
    padding-right: 15px;
    padding-bottom: 2px;
}
table.fixed {
    table-layout: fixed; 
    width: 70%;
}

</style>

<div class="row">
    <div class="span8">
        <h2><a href="/<%= "#{@host.hostname}/datasets/#{@ds.name}" %>"><%= @ds.name %></a></h2>
        
        <h3>Storage</h3>
        <table class="table-striped fixed">
            <tr title="<%= ZUtil.get_desc :ds, 'type' %>"><td><strong>Type:</strong></td><td><%= @ds.type %></td></tr>
            <tr title="<%= ZUtil.get_desc :ds, 'creation' %>">
                <td><strong>Creation Date:</strong></td>
                <td><%= @ds.creation.strftime format='%A, %B %d, %Y at %l:%M %P' %></td>
            </tr>
            <% if @ds.is_vol? and @ds.volsize %>
                <tr>
                    <td title="<%= ZUtil.get_desc :ds, 'volsize' %>"><strong>Volume Size:</strong></td>
                    <td title="<%= "#{@ds.volsize} bytes" %>"><%= ZUtil.convert_human_bytes @ds.volsize %></td>
                </tr>
            <% end %>
            <tr>
                <td title="<%= ZUtil.get_desc :ds, 'used' %>"><strong>Used:</strong></td>
                <td title="<%= "#{@ds.used} bytes" %>"><%= ZUtil.convert_human_bytes @ds.used %></td>
            </tr>
            <tr>
                <td title="<%= ZUtil.get_desc :ds, 'avail' %>"><strong>Available:</strong></td>
                <td title="<%= "#{@ds.used} bytes" %>"><%= ZUtil.convert_human_bytes @ds.avail %></td>
            </tr>
            <tr>
                <td title="<%= ZUtil.get_desc :ds, 'refer' %>"><strong>Referenced by dataset:</strong></td>
                <td title="<%= "#{@ds.refer} bytes" %>"><%= ZUtil.convert_human_bytes @ds.refer %></td>
            </tr>
            <tr title="<%= ZUtil.get_desc :ds, 'ratio' %>">
                <td><strong>Compression ratio:</strong></td>
                <td><%= @ds.ratio %></td>
            </tr>
        </table>&nbsp;
        
        <h3>Status</h3>
        <table class="table-striped fixed">
                <% if @ds.is_fs? %>
                    <tr title="<%= ZUtil.get_desc :ds, 'mounted' %>">
                        <td><strong>Mounted?</strong></td>
                        <td><span class="label <%= @ds.mounted ? 'label-info' : '' %>"><%= @ds.mounted ? 'yes' : 'no' %></span></td>
                    </tr>
                    <% if @ds.is_mounted? %>
                        <tr title="<%= ZUtil.get_desc :ds, 'mountpoint' %>">
                            <td><strong>Mount Point:</strong></td>
                            <td><code><%= @ds.mountpoint %></code></td>
                        </tr>
                    <% end %>  
                <% end %>        
            <tr title="<%= ZUtil.get_desc :ds, 'compress' %>">
                <td><strong>Compression:</strong></td>
                <td><span class="label <%= (@ds.compress == :off) ? '' : 'label-info' %>"><%= @ds.compress %></span></td>
            </tr>
            <tr title="<%= ZUtil.get_desc :ds, 'crypt' %>">
                <td><strong>Encryption:</strong></td>
                <td><span class="label <%= (@ds.crypt == :off) ? '' : 'label-info' %>"><%= @ds.crypt %></span></td>
            </tr>
            <tr title="<%= ZUtil.get_desc :ds, 'dedup' %>">
                <td><strong>Deduplication:</strong></td>
                <td><span class="label <%= (@ds.dedup == :on) ? 'label-success' : '' %>"><%= @ds.dedup %></span></td>
            </tr>
        </table>&nbsp;
        
         <h3>Sharing</h3>
        <table class="table-striped fixed">
            <tr title="<%= ZUtil.get_desc :ds, 'sharenfs' %>">
                <td><strong>Shared via NFS?</strong></td>
                <td><span class="label <%= @ds.sharenfs ? 'label-info' : '' %>"><%= @ds.sharenfs %></span></td>
            </tr>
            <tr title="<%= ZUtil.get_desc :ds, 'sharesmb' %>">
                <td><strong>Shared via SMB?</strong></td>
                <td><span class="label <%= @ds.sharesmb ? 'label-info' : '' %>"><%= @ds.sharesmb ? 'yes' : 'no' %></span></td>
            </tr>
        </table>&nbsp;    
                  
        <h3>Snapshots</h3>
        <% if @ds.snapshots.size > 0 %>
            <table class="table-striped sortable">
                <tr><th>Name</th><th>Creation Date</th><th>Size</th></tr>
                <% @ds.snapshots.each do |snap| %>
                    <tr>
                        <td><%= snap.name %></td>
                        <td sorttable_customkey="<%= snap.creation.strftime('%s') %>"><%= snap.creation.strftime format='%A, %B %d, %Y at&nbsp;%l:%M %P' %></td>
                        <td><%= ZUtil.convert_human_bytes snap.used %></td>
                    </tr>
                <% end %>
            </table>
        <% else %>
            <p>This dataset currently has no snapshots saved.</p>
        <% end %>
        <button class="btn" data-toggle="collapse" data-target="#newsnap">Take New</button>&nbsp;
        <div id="newsnap" class="collapse in">&nbsp;
          <form action="<%= "/#{@host.hostname}/datasets/#{@ds.name}/snapshot" %>" method="post">
            <fieldset>
              <input type="text" name="snapshot_name" placeholder="Snapshot Name (optional)" />&nbsp;
              <input type="submit" class="btn btn-primary btn-small" value="Take snapshot" />
            </fieldset>
          </form>
        </div>&nbsp;
            
        <h3>Properties</h3>
        <table class="table-striped sortable fixed">
            <tr><th>Property</th><th>Value</th></tr>
            <% if @ds.quota and @ds.quota > 0 then %>
                <tr title="<%= ZUtil.get_desc :ds, 'quota' %>"><td><strong>Quota:</strong></td><td><%= @ds.quota %></td></tr>
            <% end %>
            
            <!-- Filesystem-only properties -->
            <% if @ds.is_fs? %>
                <% if @ds.recsize %>
                <tr title="<%= ZUtil.get_desc :ds, 'recsize' %>">
                    <td><strong>Suggested Block Size:</strong></td>
                    <td><%= ZUtil.convert_human_bytes @ds.recsize %></td>
                </tr>
                <% end %>
                <tr title="<%= ZUtil.get_desc :ds, 'devices' %>">
                    <td><strong>Device mknod enabled?</strong></td>
                    <td><span class="label <%= @ds.devices ? 'label-info' : '' %>"><%= @ds.devices ? 'yes' : 'no' %></span></td>
                </tr>
                <tr title="<%= ZUtil.get_desc :ds, 'exec' %>">
                    <td><strong>Process execution enabled?</strong></td>
                    <td><span class="label <%= @ds.exec ? 'label-info' : '' %>"><%= @ds.exec ? 'yes' : 'no' %></span></td>
                </tr>
                <tr title="<%= ZUtil.get_desc :ds, 'setuid' %>">
                    <td><strong>Respect setUID bit?</strong></td>
                    <td><span class="label <%= @ds.setuid ? 'label-info' : '' %>"><%= @ds.setuid ? 'yes' : 'no' %></span></td>
                </tr>
                <tr title="<%= ZUtil.get_desc :ds, 'canmount' %>">
                    <td><strong>Mountable?</strong></td>
                    <td><span class="label <%= @ds.canmount ? 'label-info' : '' %>"><%= @ds.canmount ? 'yes' : 'no' %></span></td>
                </tr>
                <tr title="<%= ZUtil.get_desc :ds, 'version' %>">
                    <td><strong>Version:</strong></td>
                    <td><span class="badge badge-inverse"><%= @ds.version %></span></td>
                </tr>
                <tr title="<%= ZUtil.get_desc :ds, 'utf8only' %>">
                    <td><strong>UTF-8 only?</strong></td>
                    <td><span class="label <%= @ds.utf8only ? 'label-info' : '' %>"><%= @ds.utf8only ? 'yes' : 'no' %></span></td>
                </tr>
                <% unless @ds.normalization == :na %>
                    <tr title="<%= ZUtil.get_desc :ds, 'normalization' %>">
                        <td><strong>Unicode normalization:</strong></td>
                        <td><span class="label <%= (@ds.normalization == :none) ? '' : 'label-info' %>"><%= @ds.normalization %></span></td>
                    </tr>
                <% end %>
                <% unless @ds.case == :na %>
                    <tr title="<%= ZUtil.get_desc :ds, 'case' %>">
                        <td><strong>Case sensitivity:</strong></td>
                        <td><span class="label <%= (@ds.case == :sensitive) ? 'label-info' : '' %>"><%= @ds.case %></span></td>
                    </tr>
                <% end %>
                <tr title="<%= ZUtil.get_desc :ds, 'vscan' %>">
                    <td><strong>On-access virus scans?</strong></td>
                    <td><span class="label <%= @ds.vscan ? 'label-info' : '' %>"><%= @ds.vscan ? 'yes' : 'no' %></span></td>
                </tr>
                <tr title="<%= ZUtil.get_desc :ds, 'nbmand' %>">
                    <td><strong>Mount with NBMand?</strong></td>
                    <td><span class="label <%= @ds.nbmand ? 'label-info' : '' %>"><%= @ds.nbmand ? 'yes' : 'no' %></span></td>
                </tr>
                <tr title="<%= ZUtil.get_desc :ds, 'sync' %>">
                    <td><strong>Synchronization:</strong></td>
                    <td><span class="label label-info"><%= @ds.sync %></span></td>
                </tr>
            <% end %>
            
            <!-- The rest -->
            <% if not @ds.is_snap? and not @ds.origin.nil? and @ds.origin != '-' %>
                <tr title="<%= ZUtil.get_desc :ds, 'origin' %>">
                    <td><strong>Origin:</strong></td>
                    <td><%= @ds.origin %></td>
                </tr>
            <% end %>
            <% if @ds.is_vol? and @ds.volblock %>
                <tr title="<%= ZUtil.get_desc :ds, 'volblocksize' %>">
                    <td><strong>Volume Block Size:</strong></td>
                    <td><%= @ds.volblock %></td>
                </tr>
            <% end %>
            <tr title="<%= ZUtil.get_desc :ds, 'checksum' %>">
                <td><strong>Checksum:</strong></td>
                <td><span class="label <%= (@ds.checksum == :auto) ? 'label-success' : 'label-info' %>"><%= @ds.checksum %></span></td>
            </tr>
            <tr title="<%= ZUtil.get_desc :ds, 'atime' %>">
                <td><strong>Update access time on read?</strong></td>
                <td><span class="label <%= @ds.atime ? 'label-info' : '' %>"><%= @ds.atime ? 'yes' : 'no' %></span></td>
            </tr>
            <tr title="<%= ZUtil.get_desc :ds, 'rdonly' %>">
                <td><strong>Read-only?</strong></td>
                <td><span class="label <%= @ds.rdonly ? 'label-info' : '' %>"><%= @ds.rdonly ? 'yes' : 'no' %></span></td>
            </tr>
            <tr title="<%= ZUtil.get_desc :ds, 'zoned' %>">
                <td><strong>Non-global management zone?</strong></td>
                <td><span class="label <%= @ds.zoned ? 'label-info' : '' %>"><%= @ds.zoned ? 'yes' : 'no' %></span></td>
            </tr>
            <% unless @ds.snapdir == :na %>
                <tr title="<%= ZUtil.get_desc :ds, 'snapdir' %>">
                    <td><strong>.zfs directory visibility:</strong></td>
                    <td><span class="label <%= (@ds.snapdir == :hidden) ? '' : 'label-info' %>"><%= @ds.snapdir %></span></td>
                </tr>
            <% end %>
            <% unless @ds.aclinherit == :na %>
                <tr title="<%= ZUtil.get_desc :ds, 'aclinherit' %>">
                    <td><strong>ACL inheritance:</strong></td>
                    <td><span class="label <%= case @ds.aclinherit; when :discard then 'label-inverse'
                                                when :noallow then 'label-warning'
                                                when :restricted then 'label-important'
                                                when :passthrough then 'label-info'
                                                when :passthroughx then 'label-info'
                                                end %>"><%= @ds.aclinherit %></span></td>
                </tr>
            <% end %>
            <tr title="<%= ZUtil.get_desc :ds, 'xattr' %>">
                <td><strong>Extended attributes:</strong></td>
                <td><span class="label <%= @ds.xattr ? 'label-info' : '' %>"><%= @ds.xattr ? 'enabled' : 'disabled' %></span></td>
            </tr>
            <tr title="<%= ZUtil.get_desc :ds, 'copies' %>">
                <td><strong>Copies:</strong></td>
                <td><span class="badge badge-inverse"><%= @ds.copies %></span></td>
            </tr>
            <tr title="<%= ZUtil.get_desc :ds, 'refquota' %>">
                <td><strong>Referencable Quota:</strong></td>
                <td><%= ZUtil.convert_human_bytes @ds.refquota %></td>
            </tr>
            <tr title="<%= ZUtil.get_desc :ds, 'primarycache' %>">
                <td><strong>Primary caching:</strong></td>
                <td>
                    <span class="label <%= (@ds.primarycache == :all) ? 'label-success' : (@ds.primarycache == :metadata) ? 'label-info' : '' %>">
                        <%= @ds.primarycache %>
                    </span>
                </td>
            </tr>
            <tr title="<%= ZUtil.get_desc :ds, 'secondarycache' %>">
                <td><strong>Secondary caching:</strong></td>
                <td>
                    <span class="label <%= (@ds.secondarycache == :all) ? 'label-success' : (@ds.secondarycache == :metadata) ? 'label-info' : '' %>">
                        <%= @ds.secondarycache %>
                    </span>
                </td>
            </tr>
            <tr title="<%= ZUtil.get_desc :ds, 'usedsnap' %>">
                <td><strong>Space used by snapshots:</strong></td>
                <td><%= ZUtil.convert_human_bytes @ds.usedsnap %></td>
            </tr>
            <tr title="<%= ZUtil.get_desc :ds, 'usedds' %>">
                <td><strong>Used by this dataset:</strong></td>
                <td><%= ZUtil.convert_human_bytes @ds.usedds %></td>
            </tr>
            <tr title="<%= ZUtil.get_desc :ds, 'usedchild' %>">
                <td><strong>Used by children:</strong></td>
                <td><%= ZUtil.convert_human_bytes @ds.usedchild %></td>
            </tr>
                <tr title="<%= ZUtil.get_desc :ds, 'refreserv' %>">
                <td><strong>Minimum Reserved:</strong></td>
                <td><%= ZUtil.convert_human_bytes @ds.refreserv %></td>
            </tr>
            <tr title="<%= ZUtil.get_desc :ds, 'usedrefreserv' %>">
                <td><strong>Used by refreservation:</strong></td>
                <td><%= ZUtil.convert_human_bytes @ds.usedrefreserv %></td>
            </tr>
            <tr title="<%= ZUtil.get_desc :ds, 'defer_destroy' %>">
                <td><strong>Marked for deferred destroy?</strong></td>
                <td><span class="label <%= @ds.defer_destroy ? 'label-important' : '' %>"><%= @ds.defer_destroy ? 'yes' : 'no' %></span></td>
            </tr>
            <% if @ds.type == :snapshot %>
                <tr title="<%= ZUtil.get_desc :ds, 'userrefs' %>">
                    <td><strong>Number of user holds on snapshot:</strong></td>
                    <td><%= @ds.userrefs %></td>
                </tr>
            <% end %>
            <tr title="<%= ZUtil.get_desc :ds, 'logbias' %>">
                <td><strong>Log bias:</strong></td>
                <td><span class="label <%= (@ds.logbias == :latency) ? 'label-success' : 'label-info' %>"><%= @ds.logbias %></span></td>
            </tr>
            <tr title="<%= ZUtil.get_desc :ds, 'mlslabel' %>">
                <td><strong>Sensitivity label:</strong></td>
                <td><%= @ds.mlslabel %></td>
            </tr>
            <% unless @ds.crypt == :off %>
                <!-- Only for datasets with encryption enabled -->
                <tr title="<%= ZUtil.get_desc :ds, 'rekeydate' %>">
                    <td><strong>Dataset last re-key date:</strong></td>
                    <td><%= @ds.rekeydate.strftime format='%A, %B %d, %Y at %l:%M %P ' if @ds.rekeydate %></td>
                </tr>
                <tr title="<%= ZUtil.get_desc :ds, 'keysourceformat' %>">
                    <td><strong>Dataset encryption key format:</strong></td>
                    <td><span class="label <%= (@ds.keysourceformat == :none) ? '' : 'label-info' %>"><%= @ds.keysourceformat %></span></td>
                </tr>
                <tr title="<%= ZUtil.get_desc :ds, 'keysourcelocation' %>">
                    <td><strong>Dataset encryption key location:</strong></td>
                    <td><span class="label <%= (@ds.keysourcelocation == :none) ? '' : 'label-info' %>"<%= @ds.keysourcelocation %></span></td>
                </tr>
                <tr title="<%= ZUtil.get_desc :ds, 'keystatus' %>">
                    <td><strong>Dataset encryption key status:</strong></td>
                    <td><span class="label <%= (@ds.keystatus == :unavailable) ? 'label-important' : (@ds.keystatus == :available) ? 'label-success' : '' %>">
                            <%= @ds.keystatus %>
                        </span>
                    </td>
                </tr>
            <% end %>
            <tr title="<%= ZUtil.get_desc :ds, 'rstchown' %>">
                <td><strong>Restrict chown?</strong></td>
                <td><span class="label <%= @ds.rstchown ? 'label-info' : '' %>"><%= @ds.rstchown ? 'yes' : 'no' %></span></td>
            </tr>
        </table>
    </div>
</div>
<script type="application/javascript">
  $(".collapse").collapse();
</script>