<div class="row">
    <div class="span6">
        <h3><%= ZUtil.build_breadcrumb_string [@host.hostname, 'pools'] %></h3>
    </div>
</div>
<div class="row">
    <div class="span6">
        <p><%= @host.hostdescription %></p>
        <p><strong>Last update:</strong> <%= @host.lastupdate.strftime format='%A, %B %d, %Y at %l:%M %P ' %></p>
    </div>
</div>

<hr />
<style type="text/css">
td {
    padding-right: 15px;
}
</style>
<% @host.pools.each_with_index do |pool, index| %>
    <div class="row">
        <div class="span8">
            <h3><a href="/<%= "#{@host.hostname}/pools/#{pool.name}" %>"><%= pool.name %></a></h3>
            <table class="table-striped">
                <tr><td><strong>Free: </strong></td><td><%= ZUtil.convert_human_bytes pool.free  %></td></tr>
                <tr><td><strong>Used: </strong></td><td><%= ZUtil.convert_human_bytes pool.alloc %></td></tr>
                <tr><td><strong>Capacity: </strong></td><td><%= ZUtil.convert_human_bytes pool.size %></td></tr>
                <tr title="<%= ZUtil.get_desc :pool, 'cap' %>">
                    <td><strong>Percent Full: </strong></td>
                    <td>
                        <span class="label <%= (pool.cap > 90) ? 'label-important' : (pool.cap > 75) ? 'label-warning' : 'label-success' %>">
                            <%= pool.cap %> %
                        </span>
                    </td>
                </tr>
                <tr><td title="<%= ZUtil::ZPOOL_HEALTH[pool.health.to_s] %>"><strong>Health:</strong></td>
                    <td title="<%= ZUtil::ZPOOL_HEALTH[pool.health.to_s] %>">
                        <% case pool.health.to_s; when 'online' then %>
                            <span class="label label-success">
                        <% when 'degraded' then %>
                            <span class="label label-warning">
                        <% when 'faulted', 'removed', 'unavail' then %>
                            <span class="label label-important">
                        <% when 'offline' then %>
                            <span class="label label-inverse">
                        <% end %>
                        <%= pool.health %>
                    </span></td>
                </tr>
                <tr><td><strong>Version: </strong></td><td><%= pool.version %></td></tr>
                <tr><td><strong>Delegation: </strong></td><td><%= pool.delegation ? 'on' : 'off' %></td></tr>
                <tr><td><strong>AutoReplace: </strong></td><td><%= pool.replace ? 'on' : 'off' %></td></tr>
                <tr><td><strong>Failure Mode: </strong></td><td><%= pool.failmode %></td></tr>
            </table>
            &nbsp;
        </div>
    </div>
<% end %>