<div class="row">
    <div class="span6">
        <h3><%= ZUtil.build_breadcrumb_string [@host.hostname] %></h3>
    </div>
</div>
<div class="row">
    <div class="span6">
        <p><%= @host.hostdescription %></p>
        <p><strong>Last update:</strong> <%= @host.lastupdate.strftime format='%A, %B %d, %Y at %l:%M %P ' %></p>
    </div>
    <form action="/<%= @host.hostname %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Host" class="btn btn-danger">
    </form>
</div>
<div class="row">
  <div class="span6">
    <h3><a href="#" data-toggle="collapse" data-target="#ssh-settings">SSH Settings</a></h3>
    <div id="ssh-settings" class="collapse<%= ' in' if @host.ssh_user %>">&nbsp;
      <form action="<%= "/#{@host.hostname}" %>" method="post">
        <fieldset>
          <input type="hidden" name="_method" value="put" />
          <label for="ssh_user">SSH Username</label>
          <input type="text" name="ssh_user"<%= %[ value="#{@host.ssh_user}"] if @host.ssh_user %> />
          <label for="ssh_key">SSH Private Key (PEM format)</label>
          <% if @host.ssh_key %>
            <p id="privkey-edit">Hidden. <a href="#" onClick="$('#privkey-text').show()">Click here</a> to replace.</p>
            <textarea id="privkey-textarea" style="width: 95%; display: none;" name="ssh_key" rows="8"></textarea>
          <% else %>
            <textarea id="privkey-textarea" style="width: 95%;" name="ssh_key" rows="8"></textarea>
          <% end %>
          <input type="submit" class="btn btn-primary" value="Save changes" />
        </fieldset>
      </form>
    </div>
  </div>
</div>
    
<hr />

<div class="row">
    <div class="span4">
        <h3><a href="/<%= @host.hostname %>/pools"><%= @host.pools.count %> Pools</a></h3>
        &nbsp;
    </div>
</div>
<div class="row">
<% @host.pools.each_with_index do |pool, index| %>
    <div class="span3 well">
        <h4 title="<%= ZUtil.get_desc :pool, 'name' %>"><a href="/<%= @host.hostname %>/pools/<%= pool.name %>"><%= pool.name %></a></h4>
        <table class="table-condensed">
            <tr title="<%= ZUtil.get_desc :pool, 'free' %>"><td><strong>Free:</strong></td><td><%= ZUtil.convert_human_bytes pool.free %></td></tr>
            <tr title="<%= ZUtil.get_desc :pool, 'alloc' %>"><td><strong>Used:</strong></td><td><%= ZUtil.convert_human_bytes pool.alloc %></td></tr>
            <tr title="<%= ZUtil.get_desc :pool, 'size' %>"><td><strong>Total:</strong></td><td><%= ZUtil.convert_human_bytes pool.size  %></td></tr>
            <tr title="<%= ZUtil.get_desc :pool, 'cap' %>">
                <td><strong>Percent Used:</strong></td>
                <td><span class="label <%= (pool.cap > 90) ? 'label-important' : (pool.cap > 75) ? 'label-warning' : 'label-success' %>">
                    <%= pool.cap %> %
                </span></td>
            </tr>
            <tr title="<%= ZUtil::ZPOOL_HEALTH[pool.health.to_s] %>">
                <td><strong>Health:</strong></td>
                <td><% case pool.health.to_s; when 'online' then %>
                        <span class="label label-success">
                    <% when 'degraded' then %>
                        <span class="label label-warning">
                    <% when 'faulted', 'removed', 'unavail' then %>
                        <span class="label label-important">
                    <% when 'offline' then %>
                        <span class="label label-inverse">
                <% end %>
                <%= pool.health %>
                </span></td>
            </tr>
        </table>
    </div>
    <% if (index+1) % 3 == 0 %>
        </div><div class="row">
    <% end %>
<% end %>
</div>
<div class="row">
    <div class="span4">
        <h3><a href="/<%= @host.hostname %>/datasets"><%= @host.datasets.count %> Datasets</a></h3>
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="span9">
        <table class="table table-striped">
            <tr>
                <th>Dataset Name</th>
                <th>Type</th>
                <th title="<%= ZUtil.get_desc :ds, 'avail' %>">Available</th>
                <th title="<%= ZUtil.get_desc :ds, 'used' %>">Used</th>
                <th title="<%= ZUtil.get_desc :ds, 'mounted' %>">Mounted?</th>
                <th title="<%= ZUtil.get_desc :ds, 'mountpoint' %>">Mount Point</th>
                <th>Last Snapshot</th>
            </tr>
            <% @host.datasets.each_with_index do |ds, index| %>
                <tr>
                    <td><a href="<%= @host.hostname + '/datasets/' + ds.name %>"><%= ds.name %></a></td>
                    <td><%= ds.type %></td>
                    <td><%= ZUtil.convert_human_bytes ds.avail %></td>
                    <td><%= ZUtil.convert_human_bytes ds.used %></td>
                    <td>
                        <span class="label <%= ds.mounted ? 'label-info' : '' %>">
                            <%= ds.mounted ? 'yes' : 'no' %>
                        </span>
                    </td>
                    <td>
                        <% if ds.mounted %>
                            <code><%= ds.mountpoint %></code>
                        <% end %>
                    </td>
                    <td><%= ds.last_snapshot_time %></td>
                </tr>
            <% end %>
        </table>
    </div>
</div>
<script type="application/javascript">
  $(".collapse").collapse();
</script>