<div class="row">
    <div class="span6">
        <h3><%= ZUtil.build_breadcrumb_string [@host.hostname] %></h3>
    </div>
</div>
<div class="row">
    <div class="span6">
        <p><%= @host.hostdescription %></p>
        <p><strong>Last update:</strong> <%= @host.lastupdate.strftime format='%A, %B %d, %Y at %l:%M %P ' %></p>
    </div>
</div>

<hr />

<div class="row">
    <div class="span4">
        <h3><a href="/<%= @host.hostname %>/pools"><%= @host.pools.count %> Pools</a></h3>
        &nbsp;
    </div>
</div>
<div class="row">
<% @host.pools.each_with_index do |pool, index| %>
    <div class="span3 well">
        <h4 title="<%= ZUtil.get_desc :pool, 'name' %>"><a href="/<%= @host.hostname %>/pools/<%= pool.name %>"><%= pool.name %></a></h4>
        <table class="table-condensed">
            <tr title="<%= ZUtil.get_desc :pool, 'free' %>"><td><strong>Free:</strong></td><td><%= ZUtil.convert_human_bytes pool.free %></td></tr>
            <tr title="<%= ZUtil.get_desc :pool, 'alloc' %>"><td><strong>Used:</strong></td><td><%= ZUtil.convert_human_bytes pool.alloc %></td></tr>
            <tr title="<%= ZUtil.get_desc :pool, 'size' %>"><td><strong>Total:</strong></td><td><%= ZUtil.convert_human_bytes pool.size  %></td></tr>
            <tr title="<%= ZUtil.get_desc :pool, 'cap' %>">
                <td><strong>Percent Used:</strong></td>
                <td><span class="label <%= (pool.cap > 90) ? 'label-important' : (pool.cap > 75) ? 'label-warning' : 'label-success' %>">
                    <%= pool.cap %> %
                </span></td>
            </tr>
            <tr title="<%= ZUtil::ZPOOL_HEALTH[pool.health.to_s] %>">
                <td><strong>Health:</strong></td>
                <td><% case pool.health.to_s; when 'online' then %>
                        <span class="label label-success">
                    <% when 'degraded' then %>
                        <span class="label label-warning">
                    <% when 'faulted', 'removed', 'unavail' then %>
                        <span class="label label-important">
                    <% when 'offline' then %>
                        <span class="label label-inverse">
                <% end %>
                <%= pool.health %>
                </span></td>
            </tr>
        </table>
    </div>
    <% if (index+1) % 3 == 0 %>
        </div><div class="row">
    <% end %>
<% end %>
</div>
<div class="row">
    <div class="span4">
        <h3><a href="/<%= @host.hostname %>/datasets"><%= @host.datasets.count %> Datasets</a></h3>
        &nbsp;
    </div>
</div>
<div class="row">
<% @host.datasets.each_with_index do |ds, index| %>
    <div class="span3 well">
        <h4><a href="<%= @host.hostname + '/datasets/' + ds.name %>"><%= ds.name %></a></h4>
        <p><%= ds.type %></p>
        <table class="table-condensed">
            <tr title="<%= ZUtil.get_desc :ds, 'avail' %>"><td><strong>Available:</strong></td><td><%= ZUtil.convert_human_bytes ds.avail %></td></tr>
            <tr title="<%= ZUtil.get_desc :ds, 'used' %>"><td><strong>Used:</strong></td><td><%= ZUtil.convert_human_bytes ds.used %></td></tr>
            <tr title="<%= ZUtil.get_desc :ds, 'mounted' %>"><td><strong>Mounted:</strong></td>
                <td>
                    <span class="label <%= ds.mounted ? 'label-info' : '' %>">
                    <%= ds.mounted ? 'yes' : 'no' %>
                    </span>
                </td>
            </tr>
            <% if ds.mounted %>
                <tr title="<%= ZUtil.get_desc :ds, 'mountpoint' %>"><td><strong>Mount Point:</strong></td><td><code><%= ds.mountpoint %></code></td>
            <% end %>
        </table>
    </div>
    <% if (index+1) % 3 == 0 %>
        </div><div class="row">
    <% end %>
<% end %>
</div>