<div class="row">
    <div class="span6">
        <h3><%= ZUtil.build_breadcrumb_string [@host.hostname, 'datasets'] %></h3>
    </div>
</div>
<div class="row">
    <div class="span6">
        <p><%= @host.hostdescription %></p>
        <p><strong>Last update:</strong> <%= @host.lastupdate.strftime format='%A, %B %d, %Y at %l:%M %P ' %></p>
    </div>
</div>

<hr />
<style type="text/css">
td {
    padding-right: 15px;
}
</style>

<% @host.datasets.each_with_index do |ds, i| %>
    <div class="row">
        <div class="span8">
            <h3><a href="/<%= @host.hostname + '/datasets/' + ds.name %>"><%= ds.name %></a></h3>
            <table class="table-striped">
                <tr title="<%= ZUtil.get_desc :ds, 'type' %>"><td><strong>Type: </strong></td><td><%= ds.type %></td></tr>
                <tr title="<%= ZUtil.get_desc :ds, 'avail' %>"><td><strong>Available to dataset: </strong></td><td><%= ZUtil.convert_human_bytes ds.avail %></td></tr>
                <tr title="<%= ZUtil.get_desc :ds, 'refer' %>"><td><strong>Referenced: </strong></td><td><%= ZUtil.convert_human_bytes ds.refer %></td></tr>
                <tr title="<%= ZUtil.get_desc :ds, 'used' %>"><td><strong>Used:</strong></td><td><%= ZUtil.convert_human_bytes ds.used %></td></tr>
                <tr title="<%= ZUtil.get_desc :ds, 'mounted' %>">
                    <td><strong>Mounted: </strong></td>
                    <td><span class="label <%= ds.mounted ? 'label-info' : '' %>"><%= ds.mounted ? 'yes' : 'no' %></span></td>
                </tr>
                <% if ds.mounted %>
                    <tr title="<%= ZUtil.get_desc :ds, 'mountpoint' %>"><td><strong>Mount Point: </strong></td><td><code><%= ds.mountpoint %></code></td></tr>
                <% end %>
            </table>
            &nbsp;
        </div>
    </div>
<% end %>