<div class="row">
    <div class="span6">
        <h3><%= build_breadcrumb_string [@host.hostname, 'mounts'] %></h3>
    </div>
</div>
<div class="row">
    <div class="span6">
        <p><%= @host.hostdescription %></p>
        <p><strong>Last update:</strong> <%= @host.lastupdate.strftime format='%A, %B %d, %Y at %l:%M %P ' %></p>
    </div>
</div>

<hr />
<style type="text/css">
td {
    padding-right: 15px;
}
</style>

<% @host.mounts.each_with_index do |mount, i| %>
    <div class="row">
        <div class="span8">
            <h3><a href="/<%= @host.hostname << '/' << mount.name %>"><%= mount.name %></a></h3>
            <table class="table-striped">
                <tr><td><strong>Type: </strong></td><td><%= mount.type %></td></tr>
                <tr><td><strong>Available on dataset: </strong></td><td><%= mount.avail / 1000 ** 3 %> GB</td></tr>
                <tr><td><strong>Referenced: </strong></td><td><%= mount.refer / 1000 ** 3 %> GB</td></tr>
                <tr><td><strong>Mounted: </strong></td><td><%= mount.mounted %></td></tr>
            </table>
            &nbsp;
        </div>
    </div>
<% end %>