<div class="row">
    <div class="span6">
        <h3><%= ZUtil.build_breadcrumb_string [@host.hostname, "pools", @pool.name] %></h3>
    </div>
</div>
<div class="row">
    <div class="span6">
        <p><%= @host.hostdescription %></p>
        <p><strong>Last update:</strong> <%= @host.lastupdate.strftime format='%A, %B %d, %Y at %l:%M %P ' %></p>
    </div>
</div>

<hr />
<div class="row">
    <div class="span8">
        <h2><a href="/<%= "#{@host.hostname}/pools/#{@pool.name}" %>"><%= @pool.name %></a></h2>
        <h3>Storage</h3>
        <table class="table-striped">
            <tr>
                <td title="<%= ZUtil.get_desc :pool, 'free' %>"><strong>Free: </strong></td>
                <td title="<%= "#{@pool.free} bytes" %>"><%= ZUtil.convert_human_bytes @pool.free %></td>
            </tr>
            <tr>
                <td title="<%= ZUtil.get_desc :pool, 'alloc' %>"><strong>Used: </strong></td>
                <td title="<%= "#{@pool.alloc} bytes" %>"><%= ZUtil.convert_human_bytes @pool.alloc %></td>
            </tr>
            <tr>
                <td title="<%= ZUtil.get_desc :pool, 'size' %>"><strong>Capacity: </strong></td>
                <td title="<%= "#{@pool.size} bytes" %>"><%= ZUtil.convert_human_bytes @pool.size %></td>
            </tr>
            <tr title="<%= ZUtil.get_desc :pool, 'cap' %>">
                <td><strong>Percent Full: </strong></td>
                <td>
                    <span class="label <%= (@pool.cap > 90) ? 'label-important' : (@pool.cap > 75) ? 'label-warning' : 'label-success' %>">
                        <%= @pool.cap %> %
                    </span>
                </td>
            </tr>
            <tr><td title="<%= ZUtil.get_desc :pool, 'health' %>"><strong>Health:</strong></td>
                <td title="<%= ZUtil::ZPOOL_HEALTH[@pool.health.to_s] %>">
                    <% case @pool.health.to_s; when 'online' then %>
                        <span class="label label-success">
                    <% when 'degraded' then %>
                        <span class="label label-warning">
                    <% when 'faulted', 'removed', 'unavail' then %>
                        <span class="label label-important">
                    <% when 'offline' then %>
                        <span class="label">
                    <% end %>
                    <%= @pool.health %>
                </span></td>
            </tr>
        </table>&nbsp;
        <h3>Properties</h3>
        <table class="table-striped sortable">
            <tr><th>Property</th><th>Value</th></tr>
            <tr title="<%= ZUtil.get_desc :pool, 'altroot' %>"><td><strong>Alt Root: </strong></td><td><%= @pool.altroot %></td></tr>
            <tr title="<%= ZUtil.get_desc :pool, 'expand' %>"><td><strong>Auto Expand: </strong></td>
                                                            <td><%= ZUtil.build_bool_label @pool.expand %></td></tr>
            <tr title="<%= ZUtil.get_desc :pool, 'replace' %>"><td><strong>Auto Replace: </strong></td>
                                                            <td><%= ZUtil.build_bool_label @pool.replace %></td></tr>
            <tr title="<%= ZUtil.get_desc :pool, 'bootfs' %>"><td><strong>Boot FS: </strong></td><td><%= @pool.bootfs %></td></tr>
            <tr title="<%= ZUtil.get_desc :pool, 'cachefile' %>"><td><strong>Cache File: </strong></td><td><%= @pool.cachefile %></td></tr>
            <tr title="<%= ZUtil.get_desc :pool, 'dedup' %>"><td><strong>Dedup Ratio: </strong></td><td><%= @pool.dedup %></td></tr>
            <tr title="<%= ZUtil.get_desc :pool, 'delegation' %>"><td><strong>Delegation: </strong></td>
                                                            <td><%= ZUtil.build_bool_label @pool.delegation %></td></tr>
            <tr title="<%= ZUtil.get_desc :pool, 'dedupditto' %>"><td><strong>Ditto Copy Threshold: </strong></td>
                                                            <td><%= @pool.dedupditto %></td></tr>
            <tr title="<%= ZUtil.get_desc :pool, 'failmode' %>"><td><strong>Failure Mode: </strong></td><td><%= @pool.failmode %></td></tr>
            <tr title="<%= ZUtil.get_desc :pool, 'dsuniqueid' %>"><td><strong>Unique ID: </strong></td><td><%= @pool.dsuniqueid %></td></tr>
            <tr title="<%= ZUtil.get_desc :pool, 'listsnaps' %>"><td><strong>List Snapshots: </strong></td>
                                                            <td><%= @pool.listsnaps ? 'on' : 'off' %></td></tr>
            <tr title="<%= ZUtil.get_desc :pool, 'rdonly' %>"><td><strong>Read-only: </strong></td>
                                                            <td><%= @pool.rdonly ? 'yes' : 'no' %></td></tr>
            <tr title="<%= ZUtil.get_desc :pool, 'version' %>"><td><strong>Version: </strong></td><td><%= @pool.version %></td></tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="span8">
        &nbsp;
    </div>
</div>
            
            
            
            
            